<section id="about">
	<div class="hero-about">
      <div class="row section-head">

         <div class="twelve columns main-col">

            <h1>About Me</h1>

            <hr />

            <p>I am currently working as a <a class="smoothscroll" href="#about">Principal Data Scientist</a> at <a class="smoothscroll" href="https://www.vmock.com">VMock </a> and graaduated from <a class="smoothscroll" href="#about">Indian Institue of Technology (IIT), Delhi</a> in <a class="smoothscroll" href="#about">Mathematics and Computing</a>. With an adaptive mind and broad perspective I love facing challenging problems and looking for creative solutions. Currently pursuing my passion for Technology and Arts. My dream is to be a part of a technological breakthrough that has the potential to impact billion of lives.
            </p>

            <div class="row" id="row-contact">

               <div class="columns contact-details">

                  <h1>Contact Details</h1>
                  <p class="address">
						   <span>Kshitiz Sharma</span><br>
						   <span>Adarsh Nagar, Ajmer<br>
						         Rajasthan, IN 305001
                     </span><br>
                     <span>kshitiz [dot] sharma [at] gmail [dot] com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a target="blank" href="{{ "/res/kshitiz-sharma-cv.pdf" | prepend: site.baseurl }}" class="button"><i class="fa fa-download"></i>  Download CV</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>
     </div>
    </section>