<section id="about">
   <div class="hero-about">
      <div class="row section-head">

         <div class="twelve columns main-col">

            <div class="row-header text-center">
               <h2 class="section-heading">ABOUT ME</h2>
               <br/>
            </div>

            <!-- <hr /> -->

            {% assign about = site.about %}
            {% assign org_url = site.org_url %}
            {% assign current_job = site.job %}
            {% assign current_org = site.org %}
            <p>I completed my graduation from <a class="smoothscroll" href="#about">Indian Institue of Technology (IIT), Delhi</a> in
               <a class="smoothscroll" href="#about">Mathematics and Computing</a> and I am currently working as a <a
                  class="smoothscroll" href="#about">{{ current_job }}</a> at <a class="smoothscroll"
                  href="{{ org_url }}">{{ current_org }}</a> {{ about }}
            </p>

            <div class="row" id="row-contact">

               <div class="columns contact-details">

                  <h3>CONTACT DETAILS</h3>
                  <p class="address">
                     {% assign author_name = site.title %}
                     <span>{{ author_name }}</span><br>
                     <!-- {% for line in site.address %}
                        {{ line.line }}<br>
                     {% endfor %} -->
                     <span>kshitiz [dot] sharma [at] gmail [dot] com</span>
                  </p>

               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>
   </div>
</section>