<!-- Services Section -->
<section id="hero" class="bgbegin">

    <div class="row hero-content">

        <div class="twelve columns hero-container">

           <!-- hero-slider start-->
           <div id="hero-slider" class="flexslider">

               <ul class="slides">

                   <!-- slide -->
                   <li>
                       <div class="flex-caption">
                            <h1 class="">Hi! I'm Kshitiz Sharma</h1>

                            <h3 class="">Data Scientist and Problem Solver.</h3>
                        </div>
                   </li>

                   <!-- slide -->
                   <li>
                        <div class="flex-caption">
                            <h1 class="">I am a working professional who is pursuing his passion for Technology and Arts.</h1>

                            <h3 class="">With an adaptive mind and broad perspective I love facing challenging problems and looking for creative solutions.</h3>
                        </div>
                   </li>

                   <!-- slide -->
                   <li>
                       <div class="flex-caption">
                            <h1 class="">Take a look at some of <a class="smoothscroll" href="#projects" title="portfolio" >MY WORK</a> or
                            <a class="smoothscroll" href="#contact" title="contact us">GET IN TOUCH</a>.</h1>

                            <h3 class="">My works vary from technical engineering projects to mind refreshing artworks.</h3>
                        </div>
                   </li>

               </ul>

           </div> <!-- end hero-slider -->

      </div> <!-- end twelve columns-->

    </div> <!-- end row -->

    <div id="more">
          More About Me
    </div>

</section>