<!-- Services Section -->
<section id="hero" class="bgbegin">
  <div class="row hero-content">
    <div class="twelve columns hero-container">
      <!-- hero-slider start-->
      <div id="hero-slider" class="flexslider">
        <ul class="slides">
          <!-- slide -->
          {% for item in site.slider %}
          <li>
            <div class="flex-caption">
              <h1 class="">{{ item.heading}}</h1>

              <h3 class="">{{ item.sub_heading }}</h3>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- end hero-slider -->
    </div>
    <!-- end twelve columns-->
  </div>
  <!-- end row -->

  <div id="more">More About Me</div>
</section>
